$boxShadow: 0 0 3rem rgba(0,0,0,.1);

@mixin reset-mp {
    margin: 0;
    padding: 0;
}
$ab-brown: #2F2926;
$ab-dark-green: #0E927D;
$ab-light-green: #58BF94;
$ab-pink: #F3E4E1;
$ab-orange: #E5674E;
$ab-white: #FFFFFF;
$ab-landing-bgc:#38846D;
